accelerate
codetiming
datasets
liger-kernel
mathruler
numpy
omegaconf
pandas
peft
pillow
pyarrow>=15.0.0
pylatexenc
tensordict
transformers>=4.49.0
vllm>=0.7.3
swanlab==0.5.8
matplotlib>=3.7.0
scikit-learn
nltk
openai
langchain